:root {
  background-color: #111112;
}
/* titulo*/
h1{
  background-color: #DB9E21;
  color: #FFFFFF;
  font-family: 'Abril Fatface',;
  font-size: 400%;
  padding: 1%;
  margin: 3%;
  border-radius: 20px;
  display: flex;
  justify-content: center;

}

/* container peliculas*/
.movies {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 3%;
  background-color: #555;
  border-radius: 5px;
  padding: 2%;
}

.card {
  text-align: center;
  padding: 10px; 
  border: 10px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 10%; 
  min-width: 200px; 
  box-sizing: border-box;
  margin-bottom: 30px;
  height: 330px;
  max-width: 200px;
} 
.card img {
  height: auto; 
  width: 100%;
}
.tittle{
 overflow: hidden;
 text-overflow: ellipsis; /* Agrega puntos suspensivos (...) si el texto es demasiado largo */
 white-space: nowrap;     /* Evita que el título se envuelva a la siguiente línea */
 margin-bottom: 10px;
 margin-top: 1px;
}

/*paginacion*/
.pagination{
    display: flex;
    list-style: none;
    padding: 1%;
    margin: 20px 

}
.active{
  background-color: #DB9E21;
  margin-left: 2%;
}

.pagination a {
    color: #fefafa;
    padding: 8px 12px;
    border: 1px solid #727272;
    border-radius: 4px;
  }

/* Botones de filtro y orden*/
.buttonContainer{
    display: flex;
    margin-left: 30px;
}  

.button{
  background-color: #DB9E21;
  position: relative;
  top: -5px;
  padding: 8px;
  border-radius: 8px;
  margin-left: 5px;
  
}

.titulouno{
  position: relative;
  top: -5px;
  color: aliceblue;
  margin-left: 50px;
  font-size: 18px;

} 

/*detalle de pelicula*/
.back{
  background-color: #DB9E21;
  margin-left: 90%;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  
}
.tittleDetail{
  color: #111111;
  font-size: 30px;
  margin-top: -490px;
  margin-left: 300px;
}
.containerDetail{ 
  background: #D9D9D9;
  padding: 20px;
  width: 190%;
  border-radius: 10px;
  justify-content: space-around;
  position: relative;

}
.imgDetail{
  padding: -20px;
  border: 10px solid #f0f2f4;
  border-radius: 5px; 
  min-width: 250px; 
  box-sizing: border-box;
  height: 350px;
  margin-left: 10px;
  margin-bottom: 180px;

}
.info{
  margin-left: 300px;

}
.p{
  margin-left: 300px;

}
/*Detalle de inpu*/
.searchmovie{
  margin-left: 90%;
  width: 300px;
  height: 25px;
  margin-top: -20%;
  
}
/*Pie de pagina */
footer{
  background-color: #DB9E21;
  color: #FFFFFF;
  font-family: 'Abril Fatface',;
  font-size: 100%;
  padding: 1%;
  margin: 3%;
  display: flex;
  justify-content: center;
  margin-top: -2%;
  border-radius: 5px;

}

